:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;

  --font-family-main: 'Manrope', sans-serif;

  --container-width: 343px;
  --container-width-tab: 704px;
  --container-width-desktop: 1200px;

  --container-padding-x: 16px;

  --button-height: 44px;

  --transition-duration: 0.2s;
}

@media (min-width: 768px) {
  :root {
    --container-padding-x: 32px;
  }
}
